.navbar {
  text-align: center;
}

.button {
  padding: 0.5rem 0.75rem;
  border: none
}

.homeBlock {
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}


#gif {
  padding-top: 25px;
  padding-bottom: 25px;
}