#mainImage {
  margin: 25px;
  padding: 10px;
  background-color: whitesmoke;
}
#searchInput{
  border-radius: 50px;
}
#search{
  background-color: lightgray;
  padding: 10px;
  border: solid;
  border-width: .5px;
  border-radius: 500px;
}

#beerMenu {
  margin: 10px;
}

#checkout{
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
