.navbar {
  text-align: center;
}

.button {
  padding: 0.5rem 0.75rem;
  border: none
}

.homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
